body {
  margin: 0;
  background: darkgray;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#verticalButtons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 8px 10px 8px 10px;
  margin: 2px;
  cursor: pointer;
}
button:hover {
  background: #123456;
  color: aliceblue;
}

#carCanvas {
  background: lightgray;
}

#networkCanvas {
  background: black;
}
